<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHubService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.gorzdrav.spb.ru/Service/HubService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHubService"
                contract="Api.IHubService" name="BasicHttpBinding_IHubService" />
    </client>
  </system.serviceModel>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        throwExceptions="false">
    <time xsi:type="FastUTC" />
    <targets async="true">
      <target name="trace"
              xsi:type="Trace"
              layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}&#x9;&#x9;${message}" />
      <target name="logfile"
              xsi:type="File"
              fileName="${basedir}/Logs/${shortdate}.txt"
              layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}&#x9;${level:uppercase=true}&#x9;${callsite:cleanNamesOfAnonymousDelegates=true}:${callsite-linenumber}&#x9;${message}&#x9;${exception:format=tostring}"
              keepFileOpen="false" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="trace,logfile"/>
    </rules>
  </nlog>
</configuration>